# Python / Backend
.venv/
backend/.venv/
__pycache__/
*.pyc
backend/data/raw/*
!backend/data/raw/.gitkeep
backend/data/processed/*
!backend/data/processed/.gitkeep
backend/models/roberta_finetuned/*
!backend/models/roberta_finetuned/.gitkeep
backend/models/rag_knowledge_base/*
!backend/models/rag_knowledge_base/.gitkeep
backend/config/config.ini
backend/last_epoch_checkpoint.pt

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Brain Cache
project-brain/cache/

backend/best_hybrid_model_BACKUP*.pt
backend/last_epoch_checkpoint.pt
